@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

img {
    width: 100vw;
}

a {
    background-color: rgb(187, 0, 0);
    display: block;
    padding: 20px;
    margin-top: -4px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.466);
    border-radius: 2px 2px 4px 4px;
}

a:hover {
    background-color: red;
    transition: 0.5s;
}